.idea
/output/*
/everyNASA.jpg

/src/linux/everyNASA.jpg
/src/linux/compile.sh

/src/windows/everyNASA.jpg
/src/windows/output/*
/src/windows/version.py
/src/windows/version.txt

/src/functions/config.ini