body {
    background: #131313;
    color: white;
}

* {
    line-height: 1.2;
    margin: 0;
}

lottie-player {
    margin: 0 auto;
    width: 300px; height: 300px;
}

p {
    font-family: sans-serif;
    text-align: center;
    margin: 0.4% auto;
    width: 300px;
}

a {
    color: #98e9e8
}