p {
    font-family: sans-serif;
}

#title {
    font-size: 1.6em;
    text-align: center;
    margin-top: 1%;
}

#banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
}

#description, #dev {
    font-size: 1.2em;
    text-align: center;
}

#contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.5%;
}

#version {
    font-size: 1em;
    text-align: center;
    margin-top: -0.5%;
    color: #9FA4AF
}

#license a, #github a {
    color: #a596bd;
}

#license, #github {
    font-size: 1em;
    text-align: center;
}