.card {
    border-radius: 8%;
    width: 250px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    background-color: #131313;
}


.card img {
    width: initial;
    height: 100%;
}

.image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-row .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-row span > .card {
    margin: auto;
}

.header-row span img {
    width: 30px;
    height: auto;
}

