.card {
    border-radius: 2%;
    min-width: 350px;
    max-width: 400px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    background-color: #131313;
}

.header-row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-img-top {
    object-fit: none;
    object-position: center;
}