#title {
    margin-top: 0.6em;
    margin-left: 0.8em;
}

.title {
    margin-top: 2.3em;
}

.desc {
    margin-top: -0.7em;
}

.settings {
    margin-top: 2.4em;
}

.settings p, .form-check {
    margin-left: -17.5em;
    margin-top: -0.8em;
}

#createLabelButton {
    margin-left: -17.6em;
}

.form-check-input {
    position: relative;
    left: 5px;
    font-size: 18px;
}

.form-check-label {
    margin-left: 5px;
    margin-top: 2.2px;
}